backend/node_modules/
frontend2/node_modules/
backend/images
backend/uploads
frontend2/.expo
frontend2/google-services.json
node_modules
frontend2/financial-manager-246f6-firebase-adminsdk-fbsvc-53c082de27.json
frontend2/android